main {
    display: flex;
    text-align: center;
}

p {
    font-size: 12px;
}

.row {
    height: 100px;
    width: 150px;
    border: 1px solid black;
}

.cell {
    height: 150px;
    width: 150px;
    border: 1px solid blue;
    padding-top: auto;
}